.comment-item {
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 0 15px 15px 15px;
    background: #222222
}

.c-theme {
    color: #1DA57A !important;
}

.comment-content {
    color: aliceblue !important;
    font-size: 1rem;
}

.s-delete {
    margin-left: 20px;
}