.info-box {
    position: relative;
}

.info-box img {
    width: 200px;
    height: 280px;
    float: left;
}

@media (max-width: 600px) {
    .info-box img {
        display: none;
    }
}

.info {
    float: left;
    margin-left: 20px;
}

.detail-title {
    display: inline;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: Microsoft YaHei;
    color: #1DA57A;
}

.star {
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
}

.cancel-star {
    color: #F2C941;
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
}

.download-all {
    width: 100%;
}

.download-box,
.comments-box  {
    width: 100%;
    max-height: 300px;
    overflow: auto;
}

.comments-box  {
    margin-top: 10px;
}

.comments-box textarea.ant-input {
    max-width: 80%;
}

.replay-box textarea.ant-input {
    max-width: 70%;
}

@media (max-width: 600px) {
    .comments-box textarea.ant-input {
        max-width: 60%;
    }

    .replay-box textarea.ant-input {
        max-width: 60%;
    }
}

.comments-box button {
    float: right;
}

.tabs {
    float: left;
    max-width: 800px;
    width: 100%;
    height: auto;
}