.list-container {
    width: 100%;
    padding-bottom: 50px;
}

.spin {
    position: absolute;
    top: 80px;
    left: 50%;
    transform:translateX(-50%);
}

.meiju-list {
    position: absolute;
}

.pagination {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
}

.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
    color: #ffffff;
}

//全局tooltip样式
.ant-tooltip-placement-top .ant-tooltip-arrow,
.ant-tooltip-placement-topLeft .ant-tooltip-arrow,
.ant-tooltip-placement-topRight .ant-tooltip-arrow {
    border-top-color : #ffffff;
}
.ant-tooltip-inner {
    background: #ffffff;
    color: #000;
}

/*滚动条整体样式*/
body *::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}
/*滚动条滑块*/
body *::-webkit-scrollbar-thumb {
    border-radius: 3px; 
    background: rgba(29, 165, 122, 1);
}
/*滚动条轨道*/
body *::-webkit-scrollbar-track {
    border-radius: 3px; 
    background: rgba(67, 187, 149, 0.3);
}